@font-face {
    font-family: 'renogareregular';
    src: url(/assets/fonts/renogare-regular-webfont.woff2) format('woff2'),
    url(/assets/fonts/renogare-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --secondary: #FF0032;
}

html, body {
    width:100%;
    height:100%;
}

header {
    padding-right: 96px;
    padding-left: 96px;
    padding-top: 45px;
    /*width:1920px;*/
    /*height:1080px;*/
    text-align: center;
    /*background: url(assets/bg.png) no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/

    /* The image used */
    background-image: url(assets/bg.png);

    /* Full height */
    width:100%;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header-top-container {
    text-align:left;
    display:inline-block;
    position: absolute;
    margin-left: 96px;

    left: 0;
    right: 0;
}

#logo-text {
    font-family: renogareregular, serif;
    color: white;
    font-size:24px;
    text-align:left;
    display:inline-block;
}

#logo-dot {
    font-family: Renogore, serif;
    color: var(--secondary);
    font-size:24px;
    text-align:left;
    display:inline-block;
}

#menu-icon {
    color: white;
    font-size:28px;

}

#background-text-container {
    position:absolute;
    /*left: 0;*/
    /*right: 600px;*/
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#background-text {
    font-family: Poppins, serif;
    color: var(--secondary);
    font-size:800px;
}

#background-dot {
    font-size:400px;
}

#title-container {

}

header #header-title {
    font-family: Poppins, serif;
    color:white;
    font-size:48px;
    font-weight: bold;

}

header #header-sub-title {
    font-family: Poppins, serif;
    color:white;
    font-size:24px;
}

#contact-text {
    font-family: Poppins, serif;
    color:white;
    font-size:16px;
}

#contact-icon {
    color: white;
    font-size:28px;

}


body {
    background: black;
}
